.containerCards {
    background-color: #FFF;
    border-radius: 10px;
    border-radius: 10px; 
    box-shadow: 
        20px 20px 60px #bebebe, 
        -20px -20px 60px #ffffff; 
    display: grid;        
    grid-row-start: 2;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    margin-top: 5%;  
    padding: 30px;
    width: 80%;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.divCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-template-rows: repeat(10, min-content);

}

.next, .previous {
    display: flex;
    background-color: rgb(151 196 85);
    align-items: center;
    border: none;
    height: auto;
    width: auto;
}

.numberPage {
    margin: 0px 20px 0px 20px;
}

@media (max-width: 780px) {
    .divCards {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(21, min-content);
    }
}

@media (max-width: 580px) {
    .containerCards {
        width: 340px;
    }
}

@media (max-width: 420px) {
    .containerCards {
        width: 300px;
    }
}