.containerCards {
    align-items: center;
    background-color: #FFF;
    border-radius: 10px;
    border-radius: 10px; 
    box-shadow: 
        20px 20px 60px #bebebe, 
        -20px -20px 60px #ffffff; 
    display: grid;        
    grid-row-start: 2;
    grid-template-columns: repeat(2, 1fr);;
    grid-template-rows: repeat(10, 1fr);
    justify-items: center;
    margin-top: 5%;  
    padding: 30px;
    width: 900px;
}

@media (max-width: 990px) {
    .containerCards {
        width: 700px;
    }

    .containerCards > div {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(10, 1fr);
    }
}

@media (max-width: 780px) {
    .containerCards {
        width: 500px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(20, 1fr);
    }
}

@media (max-width: 580px) {
    .containerCards {
        width: 340px;
    }
}

@media (max-width: 420px) {
    .containerCards {
        width: 300px;
    }
}