.spinnerDiv {
    display: flex;
    justify-content: center;
    grid-column: 1 / span 2;
    margin: 120px 0px 120px 0px;
}

.cssload-fond {
	position:relative;
	margin: auto;
}

.cssload-container-general {
	animation:cssload-animball_two 4s infinite;
		-o-animation:cssload-animball_two 4s infinite;
		-ms-animation:cssload-animball_two 4s infinite;
		-webkit-animation:cssload-animball_two 4s infinite;
		-moz-animation:cssload-animball_two 4s infinite;
	width:43px; height:43px;
}

.cssload-internal {
	width:43px; height:43px; position:absolute;
}

.cssload-ballcolor {
	width: 19px;
	height: 19px;
	border-radius: 50%;
}

.cssload-ball_1, .cssload-ball_2, .cssload-ball_3, .cssload-ball_4 {
	position: absolute;
	animation:cssload-animball_one 4s infinite ease;
		-o-animation:cssload-animball_one 4s infinite ease;
		-ms-animation:cssload-animball_one 4s infinite ease;
		-webkit-animation:cssload-animball_one 4s infinite ease;
		-moz-animation:cssload-animball_one 4s infinite ease;
}

.cssload-ball_1 {
	background-color: rgb(151 196 85);
	top:0; left:0;
}

.cssload-ball_2 {
	background-color: #CECE;
	top:0; left:23px;
}

.cssload-ball_3 {
	background-color: #CECE;
	top:23px; left:0;
}

.cssload-ball_4 {
	background-color: rgb(151 196 85);
	top:23px; left:23px;
}

@keyframes cssload-animball_one {
	0%{ position: absolute;}
	50%{top:12px; left:12px; position: absolute;opacity:0.5;}
	100%{ position: absolute;}
}

@-o-keyframes cssload-animball_one {
	0%{ position: absolute;}
	50%{top:12px; left:12px; position: absolute;opacity:0.5;}
	100%{ position: absolute;}
}

@-ms-keyframes cssload-animball_one {
	0%{ position: absolute;}
	50%{top:12px; left:12px; position: absolute;opacity:0.5;}
	100%{ position: absolute;}
}

@-webkit-keyframes cssload-animball_one {
	0%{ position: absolute;}
	50%{top:12px; left:12px; position: absolute;opacity:0.5;}
	100%{ position: absolute;}
}

@-moz-keyframes cssload-animball_one {
	0%{ position: absolute;}
	50%{top:12px; left:12px; position: absolute;opacity:0.5;}
	100%{ position: absolute;}
}

@keyframes cssload-animball_two {
	0%{transform:rotate(0deg) scale(1);}
	50%{transform:rotate(360deg) scale(1.3);}
	100%{transform:rotate(720deg) scale(1);}
}

@-o-keyframes cssload-animball_two {
	0%{-o-transform:rotate(0deg) scale(1);}
	50%{-o-transform:rotate(360deg) scale(1.3);}
	100%{-o-transform:rotate(720deg) scale(1);}
}

@-ms-keyframes cssload-animball_two {
	0%{-ms-transform:rotate(0deg) scale(1);}
	50%{-ms-transform:rotate(360deg) scale(1.3);}
	100%{-ms-transform:rotate(720deg) scale(1);}
}

@-webkit-keyframes cssload-animball_two {
	0%{-webkit-transform:rotate(0deg) scale(1);}
	50%{-webkit-transform:rotate(360deg) scale(1.3);}
	100%{-webkit-transform:rotate(720deg) scale(1);}
}

@-moz-keyframes cssload-animball_two {
	0%{-moz-transform:rotate(0deg) scale(1);}
	50%{-moz-transform:rotate(360deg) scale(1.3);}
	100%{-moz-transform:rotate(720deg) scale(1);}
}