.titleName {
    display: flex;
    justify-content: center;
}

.Image {
    border-radius: 20px;
    box-shadow:  
        5px 5px 15px rgb(151 196 85),
        -5px -5px 15px #f4f4f4;
    height: 250px;
    width: 250px;
}